/*
用于继承的样式
 */

//相对窗口定位的顶部元素
topFixed{
  position: fixed;
  left:50%;
  width:100%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
