
.dateDefaultCss{
  color: black;
  cursor: pointer
}
.dateActiveCss{
  color: white;
  cursor: pointer;
  background:#545EBC;
}
.disableDateCss{
  color: #bfbfbf;
  cursor: default
}
.custom-calendar {
  .calendar-title {
    padding: 0 10px;
    .left {
      font-size: 105%;
    }
    .right {
      width:60px;
      margin-left:40px;
     .changeMonth{
       font-size:20px;
       color:#666666;
       cursor:pointer;
     }
    }
    margin-bottom: 5px;
    color: #000;
  }
  .calendar-body {
    padding-bottom: 10px;
    .bodyTitleBox {
      .body-title {
        width: 14%;
      }
    }
    .calen-content {
      flex-wrap: wrap;
    }
    .calen-cell {
      color: #000;
      width: 14%;
      margin-bottom: 5px;
      position: relative;
      cursor:pointer;
      .dateSpan {
        padding: 3px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto;
      }
      .tag {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #3a82fa;
        margin: 0 auto;
      }
    }
  }
}
