@import "utils/mix";
.customDialogBox{
  @include positionLeftTopSizeIndex($position:fixed,$z-index:999);
  .overy{
    @include positionLeftTopSizeIndex();
    background:rgba(0,0,0,0.5);
  }
  .customDialogWhiteBox{
    @include positionCenter();
    z-index: 10;
    .customDialogTitleBox{
      padding:0 0 0 20px;
      position: relative;
      .titleBk{
        @include positionLeftTopSizeIndex($z-index:-1,$radius:0 !important);
      }
      .rightBox{
        .fullScreenIcon{

        }
        .closeBox{
          width:40px;
          height:40px;
        }
      }

    }
    .customDialogContentBox{
      max-height:60vh;
      overflow: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      min-height: 20px;
    }
  }
  .dialogTransition{
    transition: all .5s ease;
  }
  .boxFullScreen{
    width:100vw !important;

  }
  .fullScreenContent{
    max-height: calc(100vh - 40px - 40px - 30px - 30px ) !important;
    height:calc(100vh - 40px - 40px - 30px - 30px) !important;
  }
}
