.lm-form-item-col textarea{
  height:inherit;
}
.lm-form-item-col{
  .dateTimeConnection{
    display:inline-block;
    text-align:center;
    padding:0 10px;
  }
}
.lmTexts {
  min-height:40px;
  display: flex;
  align-items: center;
  .textSpan{
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-right:10px;
    width:auto;
  }
  .textareaSpan{

  }
}
