@import "utils/mix";
.fileListBox{
  position: relative;
  overflow: hidden;
  .fileImg{
    width:100%;
    z-index:1;
    @include imgObjectFit(cover);
  }
  .circleProgressBk{
    @include positionCenter();
    z-index:10;
    width:100%;
    height:100%;
  }
}
.fileOutBox{
  position: relative;
  margin-right:20px;
  margin-bottom:20px;
  .delImgBox{
    @include positionTopRightSizeIndex($top:-9px,$right:-9px,$width:18px,$height:18px,$z-index:99,$rotate:45deg,$radius:50%);
    background:#ED5A47;
    color:#ffffff;
    cursor:pointer;
  }
}
.camera-box{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px dashed #d9d9d9;
  .el-icon-camera{
    font-size:28px;
  }
}
.fileMethodBox{
  height:100%;
}
.upImgListBox{
  flex-wrap:wrap;
  flex:1;
}

.upImgBox .avatar-uploader .el-upload {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background:rgba(250,250,250,1);
}
.upImgBox .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.upImgBox .avatar-uploader-icon {
  font-size: 40px;
  color: #8c939d;
  text-align: center;
}
.upImgBox .el-progress-circle{
  background:rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.upImgBox .el-progress__text{
  color:#ffffff;
}
