@import "utils/mix";
.upfile-with-progress{
  .fileList{
    flex-wrap:wrap;
    .fileListBox{
      margin:0 0px 10px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      p{
        cursor:pointer;
      }
      .fileProgressBox{
        width:100%;
        .fileItemBox{
          padding-right:20px;
          width:100%;
          box-sizing: border-box;
          .fileNameBox{
            width:calc(100% - 40px);
            .file{
              width:100%;
              .el-button{
                width:100%;
                display: flex;
                span{
                  max-width: 100%;
                  word-break: break-all;
                  white-space: normal;
                  text-align: left;
                }
              }
            }
          }
        }
      }

    }
  }
  .el-dialog{
    @include positionCenter();
    margin-top:0 !important;
    min-width:50%;
  }
}
.upfile-with-progress .el-progress-circle{
  background:rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.upfile-with-progress .el-progress__text{
  /*color:#ffffff;*/
  font-size:12px;
}
.upfile-with-progress .el-form-item__content{
  line-height:normal;
}
